[package]
name = "igd"
version = "0.1.3"
authors = ["Simon Bernier St-Pierre <sbernierstpierre@gmail.com>"]
description = "Internet Gateway Protocol client"
homepage = "https://github.com/SBSTP/rust-igd"
repository = "https://github.com/SBSTP/rust-igd"
readme = "README.md"
keywords = ["igd", "upnp"]
license = "MIT"

[dependencies]
regex = "*"
xml-rs = "*"

[dependencies.hyper]
version = "0.6.*"
default-features = false
